/* GLOBAL */
*{
  font-family: 'Popping';
}


/* ROOT */
:root{
  --blue-light: #eff4ef;
  --gray-bg-body: rgb(249, 249, 249);
  --gray: #F5F5F5;
  --gray-dashboard: rgb(245 245 245);
  --gray-text: #71717ACC;
  --gray-dark: #333;
  --blue-dark: hsl(235.26deg 40.43% 18.43%);
  --red: hsl(342.19deg 61.26% 49.61%);
  --red-light: hsl(342, 100%, 98%);
  --shadow: 2px 10px 20px rgba(0, 0, 0, 0.063);
}

/* SELECTION */
::selection{
  background-color: var(--gray-text);
  color: var(--gray-dark);
}


/* BODY */
body{
  background-color: var(--gray-bg-body);
  color: var(--gray-dark);
}

h1{
  font-weight: bold;
  font-size: 3rem;
    
}

h2{
  font-weight: bold;
  font-size: 1.8rem;
}

a, p{
  font-size: 18px;
}

p{
  color: var(--gray-text);
}

/* DASBOARD scroll */
/* En tu CSS global */
.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}



/* FONT */
@font-face {
  font-family: 'Popping';
  src: url(./assets/font/Popping/Poppins-Light.ttf);
}

/* FONT */
@font-face {
  font-family: 'Playfair-display';
  src: url(./assets/font/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf);
}

.font-secundaria{
  font-family: 'Playfair-display';
  font-weight: 500;
  letter-spacing: -2px;
}